@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text-color-primary: #475467;
  --text-color-secondary: #344054;
  --text-color-accent: #101828;
}
body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color-primary);
}
